<html>
<head>
    <title>Відправити листи</title>
</head>
<body>
    <h1>Відправка листів</h1>
    <form method="post" action=""> 	
        <input type="submit"/>
    </form>
</body>
</html>