<html>
<head>
    <title>Підписка</title>
</head>
<body>
    <h1>Підписка на розсилку повідомлень</h1>
    <form method="post" action=""> 	
        <input type="text" name="email"/>
        <input type="submit"/>
    </form>
</body>
</html>